body {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/010/826/173/small/pine-trees-forest-silhouette-nature-landscape-background-vector.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page {
    height: 100%;
    width: 100%;
}

.center {
    width: 50%;
    padding: 0 25%;
    text-align: center;
}

a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}

a.button.ecovision-button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext white;
    background-color: buttonface green;
    text-decoration: none;
}

.ecovision-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
